.main-addmember-btn-cls{
    -fx-background-image: url("../../resources/addMember.png");
}
.main-addbook-btn-cls{
    -fx-background-image: url("../../resources/addBook.png");
}
.main-addbookcopy-btn-cls{
    -fx-background-image: url("../../resources/addCopy.png");
}
.main-logout-btn-cls{
    -fx-background-image: url("../../resources/exit.png");
}
.main-checkout-btn-cls{
    -fx-background-image: url("../../resources/checkout.png");
}
